<!doctype html>
<html>
	<head>
		<title>Submit Questions</title>
	</head>
	<body>
		<form action="/admin/questions/submit/" method="post">
			<table>
			<tr><td><label>Question Number</label></td><td><input type="text" name="qno"></td></tr>
			<tr><td><label>Question</label></td><td><textarea name="ques"></textarea></td></tr>
			<tr><td><label>Question Image</label></td><td><input type="text" name="qimg"></td></tr>
			<tr><td><label>Option 1</label></td><td><input type="text" name="opt1"></td></tr>
			<tr><td><label>Option 2</label></td><td><input type="text" name="opt2"></td></tr>
			<tr><td><label>Option 3</label></td><td><input type="text" name="opt3"></td></tr>
			<tr><td><label>Option 4</label></td><td><input type="text" name="opt4"></td></tr>
			<tr><td><label>Answer</label></td><td><input type="text" name="ans"></td></tr>
			</table>
			<p><input type="submit" value="Continue &rarr;" /></p>
		</form>
	</body>
</html>
